* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f3f2ef;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 22px;
  line-height: 1;
}

button,
input,
select {
  font: inherit;
}
